@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /*user-select: none;*/
}

body {
  padding-bottom: 60px;
}

.imagen {
  position: fixed;
  top: -350px;
  left: -700px;
  margin: 0;
  width: 200vw;
  height: 200vh;
  background-repeat: repeat;
  background-image: url(wpattern.png);
  opacity: 0.07;
  z-index: -1;
  animation: mover 60s linear infinite;
}

@keyframes mover {
  0%{
    transform: translatex(0);
    transform: translatey(0);
    opacity: 0.07;
  }
  20%{
    opacity: 0.05;
  }
  40%{
    opacity: 0.03;
  }
  60%{
    opacity: 0;
  }
  80%{
    opacity: 0.05;
  }
  100%{
    opacity: 0.07;
    transform: translatex(700px) translatey(350px);
  }
}

.conf {
  width: 100%;
  background: rgba(250,255,255,0.7);
  align-items: center;
  display: inline;
}
.conf hr {
  width: 99.8%;
  border: 1px solid;
  color: rgba(245,245,245,1);
}
.conf div{
  padding: 20px;
  display: inline-block;
}
.conf .activable {
  height: 10px;
  float: right;
}
.conf:hover {
  background: rgba(0,0,0,0.02);
}


.conf .contPerf {
  display: inline-flex;
  margin: 20px;
  min-height: 50px;
  /*background-color: rgba(255,0,0,0.3);*/
  border: 1px solid rgba(0,0,0,0.1);
}

.conf .fotoPerfil {
  border-radius: 50%;
  background-color: #f0f0f0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.conf .contPerf .fotoPerfil div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: ;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  float: left;
}
.conf .contPerf .fotoPerfil div:hover {
  opacity: 1;
}
.conf .contPerf .fotoPerfil div i {
  font-size: 24px;
  opacity: 0.6;
  margin-left: 5px;
}

.contPerf div p {
  width: 100%;
  padding: 2px 0;
}
.contPerf div input{
  padding: 2px 5px;
  height: 25px;
  outline: none;
}

/*-------------------------------switcher------------------------*/

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f1f1;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #393e46;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #393e46; /*https://colorhunt.co/palette/117601*/
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    background-color: white;
  }


  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

/*-------------------------------ENDswitcher------------------------*/


.content {
  margin: 40px 19%;
  margin-right: 60px;
  margin-bottom: 60px;
  z-index: 100;
  transition-duration: 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.content.Tactive {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  margin: 40px 120px;
  margin-right: 60px;
}


@media (max-width:1920px) {

}

@media (max-width:1600px) {
  .content {
    margin: 40px 25%;
    margin-right: 60px;
  }

  .content.Tactive {
    margin: 40px 120px;
    margin-right: 60px;
  }

}

@media (max-width: 1050px) {
  .content a {
    width: 33%;
  }
}

@media (max-width:800px) {
  .content {
    margin: 40px 19%;
    margin-right: 60px;
  }
  .content.Tactive {
    margin: 40px 120px;
    margin-right: 60px;
  }
}
.btnGuardar {
  float: right;
  background-color: white;
  border: 1px solid #a1a1a1;
}

.btnGuardar:hover {
  background-color: #e1e1e1;
}


/*...................................DAR DE BAJA....................................*/

#txtDel {
  padding-top: 30px;
}

.dangerButton{
  float: right;
}

#btnBaja {
  margin: 0;
  padding: 0;
}

#btnBaja,
#confirmar,
#cancelar {
  outline:none;
  border: 1px solid white;
  background-color: #FE213B;
  color: white;
  margin: 0;
  padding: 10px 20px;
  transition-duration: 0.25s;
}

#btnBaja:hover,
#confirmar:hover,
#cancelar:hover {
  cursor: pointer;
  background-color: #CD1C31;
  transition-duration: 0.25s;
}
#btnBaja:active{
  box-shadow: -2px 2px #FE213B;
  transform: translateX(2px) translateY(-2px);
}

  /*ALERT*/
  #bgalerta {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 20000;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .alerta,
  .alerta > form{
    width: 300px;
    height: 50vh;
    background-color: #222;
    margin: 0;
    position: relative;
  }

  .alerta > form > input {
    padding: 10px 20px;
    position: absolute;
  }

  .alerta > form > #cancelar {
    bottom: 20px;
    left: 30px;
    background-color: #615355;
  }

  .alerta > form > #cancelar:hover {
    background-color: #908080;
    transform: translateX(2px) translateY(-2px);
    box-shadow: -2px 2px #908080;
  }

  .alerta > form > #confirmar {
    bottom: 20px;
    right: 30px;
  }

 .alerta > form > #confirmar:hover {
    transform: translateX(2px) translateY(-2px);
    box-shadow: -2px 2px #FE213B;
  }

/*.................................FIN DAR DE BAJA....................................*/