@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  outline:none;
}

.imagen {
  position: fixed;
  top: -350px;
  left: -700px;
  margin: 0;
  width: 200vw;
  height: 200vh;
  background-repeat: repeat;
  background-image: url(wpattern.png);
  opacity: 0.07;
  z-index: -1;
  animation: mover 60s linear infinite;
}

.dark {
  background-image: url(wpatternDark.png);
}

@keyframes mover {
  0%{
    transform: translatex(0);
    transform: translatey(0);
    opacity: 0.07;
  }
  20%{
    opacity: 0.05;
  }
  40%{
    opacity: 0.03;
  }
  60%{
    opacity: 0;
  }
  80%{
    opacity: 0.05;
  }
  100%{
    opacity: 0.07;
    transform: translatex(700px) translatey(350px);
  }
}

.content{
  height: 100vh;
  margin: 0px 120px 60px 120px;
  z-index: 100;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}


.content.Tactive {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.content h1 {
  padding: 20px 0 0;
}



@media (max-width:1200px) {
  .content {
    margin: 0px 60px 60px 120px;
  }
}

/*--------------------------DESBLOQUEABLES------------------------*/

.head {
  position: relative;
  width: 100%;
  /*height: 50px;*/
  background: rgba(255,255,255,0.3);
  display: flex;
  justify-content: flex-end;
}

#desplegable {
  margin: 1% 3%;
  padding: 10px 12px;
  text-align: center;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}

#desplegable:hover {
  background-color: rgba(0,0,0,0.05);
}

#iframe {
  border: 0px;
  width: 100%;
  height: 100%;
}

#desbloqueables {
  position: absolute;
  padding: 10px 20px;
  top: 100%;
  right: 0;
  background: blue;
  display: none;
  flex-direction: column;

}

.foto {
  display: block;
  border-radius: 1vh;
  border: 0.4vh solid rgba(0,0,0,0.1);
  width: 12vh;
  height: 10vh;
  /*background-image: url("img/doge.jpg");*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bloqueado {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5vh;
  color: white;
}


.bloqueado span {
  background-color: rgba(0,0,0,0.5);
  padding: 1vh 2vh;
  border-radius: 2.5vh;
}

.bloqueado span i {
  margin-right: 1vh;
}

.bloqueado span p {
  display: inline;
}

.bloqueado:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}

.blackbg {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.7);
  z-index: 2000;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyAlert {
  height: 30vh;
  width: 40vh;
  background: rgba(255,255,255,0.1);
  padding: 3vh 5vh 7vh 5vh;
  z-index: 2200;
  display: flex;
  flex-wrap: wrap;    
  justify-content: center;
  align-items: center;
}

.buyAlert h2 {
  display: flex;
  justify-content: center;
  font-size: 3vh;
  font-weight: 700;
  margin-bottom: 2vh;
}

.buyAlert p {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2vh;
  margin: 1vh;
}

.buyAlert .buyImg {
  height: 15vh;
  width: 15vh;
  background-size: cover;
}

#confirmar,
#cancelar {
  outline:none;
  border: 0.1vh solid white;
  background-color: #FE213B;
  color: white;
  margin: 0 1vh;
  font-size: 2vh;
  padding: 2vh 3vh;
  transition: box-shadow 0.25s, transform 0.25s;
}

#confirmar:hover,
#cancelar:hover {
  cursor: pointer;
  background-color: #CD1C31;
}

#cancelar {
  float: left;
  background-color: #615355;
}
#cancelar:hover {
  background-color: #908080;
  transform: translateX(0.3vh) translateY(-0.3vh);
  box-shadow: -0.3vh 0.3vh #908080;
  transition: 0.25s;
}

#confirmar {
  float: right;
}

#confirmar:hover {
  transform: translateX(0.3vh) translateY(-0.3vh);
  box-shadow: -0.3vh 0.3vh #FE213B;
  transition: 0.25s;
}