@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.imagen {
  position: fixed;
  top: -350px;
  left: -700px;
  margin: 0;
  width: 200vw;
  height: 200vh;
  background-repeat: repeat;
  background-image: url(wpattern.png);
  opacity: 0.07;
  z-index: -1;
  animation: mover 60s linear infinite;
}

@keyframes mover {
  0%{
    transform: translatex(0);
    transform: translatey(0);
    opacity: 0.07;
  }
  20%{
    opacity: 0.05;
  }
  40%{
    opacity: 0.03;
  }
  60%{
    opacity: 0;
  }
  80%{
    opacity: 0.05;
  }
  100%{
    opacity: 0.07;
    transform: translatex(700px) translatey(350px);
  }
}

.content {
  margin: 40px 19%;
  margin-right: 60px;
  margin-bottom: 60px;
  z-index: 100;
  transition-duration: 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.content.Tactive {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  margin: 40px 120px;
  margin-right: 60px;
}

.content h1 {
  padding: 20px 0 0;
}

.juego {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #DCFADF;
  border-radius: 25px;
  margin: 5px;*/
  min-width: 25%;
}

.juego:last-child {
  flex:1;
}

.content a {
  width: 25%;
}

@media (max-width:1920px) {
  .content a {
    width: 20%;
  }
  .juego h2 {
    font-size: 22px;
  }
}

@media (max-width:1600px) {
  .content {
    margin: 40px 25%;
    margin-right: 60px;
  }

  .content.Tactive {
    margin: 40px 120px;
    margin-right: 60px;
  }
  .content a {
    width: 25%;
  }
  .juego h2 {
    font-size: 22px;
  }
}

@media (max-width: 1050px) {
  .content a {
    width: 33%;
  }
  .juego h2 {
    font-size: 20px;
  }
}

@media (max-width:800px) {
  .content {
    margin: 40px 19%;
    margin-right: 60px;
  }
  .content a {
    width: 50%;
  }
  .juego h2 {
    font-size: 18px;
  }


  .content.Tactive {
    margin: 40px 120px;
    margin-right: 60px;
  }
}